#outsideBox {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#outsideBox>.container {
	height: 500px;
	width: 600px;
}

.modal-content>.modal-body {
	text-align: left;
	/*line-height: 14px;*/
}

#registerUser
#returnBtn {
	text-shadow: black 5px 3px 3px;
}

#txtpsd,#txtCaptcha,#txtphone,#tipmessage{
	color: red;
}

.form-group>div>span{
	color: red;
}

#sendCaptcha{
	margin-left: -10px;
}
#txtContent,#tipContent{
	margin-top: 7px;
}
