<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<!-- Site Title   -->
		<title>忘记密码</title>
		<script type="text/javascript" th:src="@{/js/loginloader.js}"></script>
		<link rel="stylesheet" type="text/css" href="css/forgetpassword.css" />
	</head>

	<body class="bg">
		<div id="outsideBox">
			<div class="container">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<span class="fa fa-remove"></span>
					</button>
						<div class="logo-text">
							<a href="userregister.html"><span><samp>C</samp>ar</span>Sharing</a>
						</div>
						<h4 class="modal-title" id="myModalLabel">找回密码</h4>
					</div>

					<div class="modal-body">
						<form class="form-horizontal" role="form" id="registerUserForm" enctype="multipart/form-data">

							<div class="form-group">
								<label for="phone" class="col-sm-3 control-label"><span class="fa fa-phone fa-lg"></span>&nbsp;手机号：</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="phone" name="phone" placeholder="请输入手机号…">
								</div>
								<div class="col-sm-3">
									<div id="txtContent">
										<span id="txtphone" name="tipmessage"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-sm-3 control-label"><span class="fa fa-send fa-lg"></span>&nbsp;密码：</label>
								<div class="col-sm-6">
									<input type="password" class="form-control" id="password" name="password" placeholder="请输入密码…">
								</div>
								<div class="col-sm-3">
									<div id="txtContent">
										<span id="txtpsd" name="tipmessage"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="captcha" class="col-sm-3 control-label"><span class="fa fa-envelope fa-lg"></span>&nbsp;验证码：</label>
								<div class="col-sm-9 control-label row">
									<div class="col-sm-5">
										<input type="text" class="form-control" id="captcha" name="captcha" placeholder="验证码">
									</div>
									<div class="col-sm-2">
										<a id="sendCaptcha" class="btn btn-info btn-sm">获取验证码</a>
									</div>
									<div class="col-sm-5">
										<div id="tipContent">
											<span id="txtCaptcha" name="tipmessage"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-4"></div>
								<div class="col-sm-2">
									<a href="login.html">
										<button class="btn btn-default" data-dismiss="modal" id="returnBtn">
											<span class="fa fa-share"></span>&nbsp;返回
										</button>
									</a>
								</div>
								<div class="col-sm-2">
									<a class="btn btn-primary" id="retrieve" name="retrieve">
										<span class="fa fa-edit"></span>找回
									</a>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-8">
									<p id="tipmessage" th:text="${msg}"></p>
								</div>
								<div class="col-sm-2"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!--<script type="text/javascript" src="<%=basePath%>/js/jquery-1.10.2.js" ></script>-->
		<script type="text/javascript">
			var randNum; //验证码
			var uniquePhone = false;
			var checkpsd = false;

			//验证手机号
			$("#phone").focus(function() {
				$("#txtphone").hide();
			});
			$("#phone").bind("blur", function() {
				var phone = $("#phone").val().trim();
				console.log("phone:"+phone);
				if(phone == "" || phone == null || phone == undefined) {
					$("#txtphone").html("手机号不能为空");
					$("#txtphone").show();
				} else {
					var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
					if(myreg.test(phone)) {
						uniquePhone = true;
					} else {
						$("#txtphone").html("手机号格式错误");
						$("#txtphone").show();
					}
				}
			});

			//密码
			//upsd txtpsd
			$("#password").focus(function() {
				$("#txtpsd").hide();
			});
			$("#password").bind("blur", function() {
				var upsd = $("#password").val().trim();
				console.log(upsd);
				if(upsd == "" || upsd == null || upsd == undefined) {
					$("#txtpsd").html("密码不能为空");
					$("#txtpsd").show();
				} else {
					var myreg = /^([a-zA-Z0-9]|[._]){6,15}$/;
					if(!myreg.test(upsd)) {
						$("#txtpsd").html("密码格式错误(英文+数字+'.'+'_')!");
						$("#txtpsd").show();
					} else {
						checkpsd = true;
					}
				}
			});

			//验证码
			var InterValObj; //timer变量，控制时间
		    var count = 60; //倒计时时间，间隔一秒执行
		    var curCount; //当前剩余秒数
		    var sendBtn = $('#sendCaptcha');
			$("#sendCaptcha").click(function() {
				$("#txtCaptcha").hide();
				var userphone = $("#phone").val().trim();
				var phone = {
					"phone": userphone
				}
				console.log(userphone+uniquePhone);
				if(userphone != "" && uniquePhone == true) {
		        	console.log("正确");
		            curCount = count;
		            //设置button效果，开始计时
		            sendBtn.attr("disabled", "true");
		            sendBtn.text("请在" + curCount + "秒内输入");
		            InterValObj = window.setInterval(SetRemainTimes, 1000); //启动计时器，1秒执行一次
		            //向后台发送处理数据
		            $.ajax({
						type: "POST",
						url: "send",
						data: phone,
						async: false,
						success: function(data) {
							/* data = JSON.parse(data); */
							console.log(data.message)
							randNum = data.message;
						}
					});
		        } else {
		            $("#txtCaptcha").html("手机号不正确！");
					$("#txtCaptcha").show();
		        }
			});
			//计时器调用函数
			function SetRemainTimes() {
		        if(curCount == 0) {
		            window.clearInterval(InterValObj); //停止计时器
		            sendBtn.removeAttr("disabled"); //启用按钮
		            sendBtn.text("重新发送验证码");
		        } else {
		            curCount--;
		            sendBtn.text("请在" + curCount + "秒内输入");
		        }
		    }
			
			//表单验证
			function checkInfo() {
				var captcha = $("#captcha").val().trim();
				console.log(captcha);
				if(uniquePhone && checkpsd) {
					if(captcha == randNum) {
						return true;
					} else {
						$("#txtCaptcha").html("验证码错误!");
						$("#txtCaptcha").show();
						return false; 
					}
				}else {
					return false; 
				}
			}
			
			$("#retrieve").click(function(){
				var checkResult = checkInfo();
				console.log(checkResult);
				if(checkResult == true){
					var phone = $("#phone").val().trim();
					var password = $("#password").val().trim();
					$.ajax({  
						type: "POST",  
						url:  "forgetPassword",  
						data: {
							userphone:phone,
							password:password
						},
						async: true,
						success: function(data){
							if(data.state == 0){
								if(confirm("密码成功！是否跳转到登录页面？")){
									location.href="login.html";
								}
							}else{
								alert(data.message);
							}
						}, 
						error: function(req, status, ex) {toastr.error("操作异常！");},  
						timeout:60000  
					});
				}
			});
		</script>
	</body>

</html>